body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;
    border-bottom: 2px solid #ccc;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-container label {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

select {
    width: 70px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    appearance: none;
    cursor: pointer;
}

.nav-buttons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.nav-buttons button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.content {
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    height: 100vh;
}

.section {
    height: 100vh;
    padding-top: 60px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.map-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding-right: 5vw;
    padding-left: 0px;
    margin-top: 10px;
}

.map-title h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.map-container>#vg1 {
    flex: 0 0 70%;
}

.map-container>.map-textbox {
    flex: 0 0 30%;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #ccc;
    padding: 5px;
}